@model IEnumerable<MovieList.Models.MovieListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("update", "update", new { id = item.Id }) |
                @Html.ActionLink("GetBYId", "GetBYId", new { id = item.Id }) |
                | <a href="#" onclick="Delete('+ item.Id + ')">Delete</a>
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>



<script type="text/javascript">
    function Delete(Id) {
        var ans = confirm("Are you sure you want to delete?");
        if (ans) {
            $.ajax({
                url: "/MovieList/Delete?Id=" + Id,
                type: "Get",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    return result;
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>